.top-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 532px;
    background: url('../img/top-bg.png') no-repeat, #b5b5b5;

    @include tablet {
        height: 380px;
    }
    @include mobile-large {
        height: 290px;
        padding: 0 20px;
    }
    @include mobile {
        padding: 0 12px;
    }

    &--small {
        height: 289px;
    }
    &__title {
        color: $white;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;

        @include tablet {
            font-size: 38px;
        }
        @include mobile-large {
            font-size: 26px;
        }
        @include mobile {
            font-size: 24px;
            font-size: 16px;
        }
    }
    &__sub-title {
        color: $white;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 54px;
        text-align: center;

        @include tablet {
            font-size: 18px;
        }
        @include mobile-large {
            margin-bottom: 35px;
            font-size: 16px;
        }
        @include mobile {
            font-size: 14px;
        }
    }
    &__search-form {
        width: 100%;
        max-width: 670px;
    }
    &__input-group {
        display: flex;
        box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
        height: 56px;
        border-radius: 5px;
        overflow: hidden;

        @include mobile {
            height: 36px;
        }
    }
    &__input {
        font-size: 14px;
        width: 100%;
        height: 56px;
        border: none;
        padding: 0 20px;
        color: #90a4ae;
        
        @include mobile {
            height: 36px;
        }
        &:focus {
            outline: none;
        }
    }
    &__submit {
        font-size: 20px;
        outline: none;
        background: $white;
        border: none;
        padding: 0 20px;
        cursor: pointer;
        color: #78909c;

        @include mobile {
            font-size: 14px;
        }
    }
}