.sidebar-menu {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding: 25px 30px 30px;
    margin-bottom: 30px;

    &__title {
        color: #263238;
        font-size: 20px;
        font-weight: 700;
        border-bottom: 1px solid #dde3e8;
        padding-bottom: 18px;
    }
    &__list-item {
        color: #263238;
        font-size: 15px;
        font-weight: 400;
    }
    &__link {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
        padding: 15px 0 15px 18px;
        transition: color .3s ease-out;
        position: relative;

        &:hover {
            color: $green-apple;
        }
        &:before {
            display: block;
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 12px;
            line-height: 1;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            color: $green-apple;
        }
    }
}

.price-range {
    border: 1px solid #d7d7d7;
    background-color: $white;
    padding: 25px 30px 30px;
    margin-bottom: 30px;

    &__title {
        color: #263238;
        font-size: 20px;
        font-weight: 700;
        border-bottom: 1px solid #dde3e8;
        padding-bottom: 18px;
    }
    &__wrapper {
        padding-bottom: 50px;

        .irs-handle {
            top: 30px;
            width: 16px;
            height: 16px;
            border: 3px solid $green-apple;
            border-radius: 50%;
        }
        .irs-line {
            height: 5px;
            border-radius: 5px;
        }
        .irs-bar {
            height: 5px;
            background: #37474f;
        }
        .irs-from, 
        .irs-to, 
        .irs-single {
            top: 59px;
            background: none;
            color: #78909c;
            font-size: 15px;
            font-weight: 400;
        }
        .irs-from:before, 
        .irs-to:before, 
        .irs-single:before {
            display: none;
        }
    }
    &__submit {
        width: 100%;
        height: 46px;
        background-color: $green-apple;
        border: none;
        text-align: center;
        line-height: 46px;
        color: $white;
        font-size: 15px;
        font-weight: 500;
        outline: none;
        -webkit-appearance: none;
        cursor: pointer;
        transition: background-color .3s ease-out;

        &:hover {
            background-color: darken($green-apple,10);
        }

        .fas {
            margin-right: 9px;
        }
    }
}

.sidebar-hot {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding: 25px 30px 30px;

    &__title {
        color: #263238;
        font-size: 20px;
        font-weight: 700;
        border-bottom: 1px solid #dde3e8;
        padding-bottom: 18px;
    }
    &__link-more {
        display: block;
        background-color: $green-apple;
        height: 46px;
        line-height: 46px;
        color: $white;
        text-align: center;
        padding: 0 12px;
        text-decoration: none;
        transition: background-color .3s ease-out;

        &:hover {
            background-color: darken($green-apple,10);
        }
    }
    &__wrapper {
        .product {
            padding: 0;
            border-bottom: 1px solid #d7d7d7;
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }

            &__inner {
                box-shadow: none;
            }
            &__picture {
                height: 121px;
            }
            &__info {
                padding: 30px 0 16px;
            }
            &__name {
                font-size: 16px;
            }
            &__bottom {
                padding: 16px 0 30px;
            }
        }
    }
}