.products {
    background-color: #f4f6f5;
    padding-bottom: 110px;
    &__inner {
        display: flex;

    }
    &__items {
        flex-grow: 1;
        padding-left: 30px;

        @include tablet {
            padding-left: 0;
        }
    }
    &__catalog {
        // padding: 15px;
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;

        .product {
            width: 33.333%;

            @include laptop {
                width: 50%;
            }
            @include mobile-large {
                width: 100%;
            }

            &__picture {
                height: 180px;

                @include mobile-large {
                    height: 48.61vw;
                    min-height: 170px;
                }
            }
            &__info {
                padding: 30px 22px 16px;
            }
            &__bottom {
                padding: 16px 22px 20px;
            }
        }
    }
}