.products {
    &__sidebar {
        width: 270px;
        min-width: 270px;
        transition: transform .3s ease-out;

        @include tablet {
            position: fixed;
            height: 100vh;
            background: #fff;
            top: 0;
            left: 0;
            z-index: 10;
            overflow-y: scroll;
            transform: translateX(-300px);

            &--active {
                transform: translateX(0);
            }
        }
    }
    &__sidebar-close {
        display: none;
        justify-content: flex-end;
        font-size: 24px;
        padding: 15px;
        color: #90a4ae;
        cursor: pointer;
        transition: color .3s ease-out;

        @include tablet {
            display: flex;
            
        }

        &:hover {
            color: $tomato;
        }
    }
}