body {
    font-family: 'Roboto', sans-serif;
    color: $gray;
}
.container-fluid {
}
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.link-inherit {
    color: inherit;
}
.link-no-decor {
    text-decoration: none;
}
.link-decor-inverse {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.block {
    display: block;
    background: url(../img/facebook-app-symbol.svg);
}